@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">

        <form action="/Home/Login" method="post" autocomplete="off">

        <div class="form-group" >
        <input type="text" class="form-control" name="Email" placeholder="Email:" >
        </div>

        <div class="form-group" >
        <input type="password" class="form-control" name="Password" placeholder="Parola:" >
        </div>

        <button type="submit" class="btn btn-secondary" > Login</button>

        </form>      
    
    </div>
</div>
